[Unit]
Description = Телеграм бот для генерирования незанятых ip адресов в сети 192.168.4.0/21

[Service]
ExecStart = /usr/bin/python3 /home/generate_ip/generate_ip-master/frontend.py
Restart = on-failure

[Install]
WantedBy = multi-user.target
